<h1 class="heading">List of all parts</h1>
<table>
  <thead>
    <tr> 
      <th> Part Name</th> 
      <th> Part Number</th>
      <th> Part's Assemblies</th>
      <th> Action </th>
    </tr>
  </thead>
  <tbody>
    <% @parts.each do |part| %>
      <tr>
        <td>
           <%= part.part_name %> 
        </td>
        <td>
           <%= part.part_number %> 
        </td>
        <td>
          <%= part.assemblies.pluck(:name).join(',') %>
        </td>
        <td>
          <%= link_to 'Show', parts_show_path(part) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>