<%= form_for @part, url: parts_create_path(@part) do |part_form| %>
  <p>
    <%= part_form.label :part_name, "Part Name" %>
    <%= part_form.text_field :part_name %>
  </p>
  <p>
    <%= part_form.label :part_number, "Part Number" %>
    <%= part_form.text_field :part_number %>
  </p>

  <%= part_form.fields_for :assemblies do |assembly_form| %>
    <p>
      <%= assembly_form.label :name, "Assembly Name" %>
      <%= assembly_form.text_field :name %>
    </p>
  <% end %>

  <p>
    <%= part_form.submit 'Create' %>
  </p>
<% end %>
<%= link_to 'Back', parts_new_path %>