<h1>Parts who have the <%= @part.part_name %> part name with part no. <%= @part.part_number %></h1>
<ul>
  <% @part.assemblies.each do |assembly| %>
    <li><%= assembly.name %></li>
  <% end %>
</ul>