Welcome to example.com, #{@user.first_name}
\===============================================

You have successfully signed up to example.com,
your username is: #{@user.first_name}.

Thanks for joining and have a great day!
