<h1 class="heading">List of all clients</h1>
<table>
  <thead>
    <tr> 
      <th> Client Name</th> 
      <th> Client Project Date</th>
      <th> Client's Assigned Programmers</th>
    </tr>
  </thead>
  <tbody>
    <% @clients.each do |client| %>
      <tr>
        <td>
           <%= client.name %> 
        </td>
        <td>
          <% client.projects.each do |project| %>
            <%= project.project_date %> 
          <% end %>
        </td>
        <td>
          <% client.programmers.each do |programmer| %>
            <%= programmer.name %> 
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>