<%= form_for @client, url: clients_create_path(@client) do |client_form| %>
  <p>
    <%= client_form.label :name, "client Name" %>
    <%= client_form.text_field :name %>
  </p>

  <%= client_form.fields_for :projects do |project_form| %>
    <p>
      <%= project_form.label :project_date, "Project Date" %>
      <%= project_form.date_field :project_date %>
    </p>

    <%= project_form.fields_for :programmer do |programmer_form| %>
      <p>
        <%= programmer_form.label :name, "Programmer Name" %>
        <%= programmer_form.text_field :name %>
      </p>
    <% end %>
  <% end %>

  <p>
    <%= client_form.submit 'Create' %>
  </p>
<% end %>
<%= link_to 'Back', clients_new_path %>