%div
  %h1 Parsing content for URL: "https://nokogiri.org/tutorials/installing_nokogiri.html"
  %h2 Supported Platform.
  - @supported_platform.each do |list|
    %p
      = list.content
  %h2 Native Gem
  - @native_gem_details.each do |detail|
    %p
      = detail.content
  %h2 Support
  - @nokogiri_support.each do |support|
    %p
      = support.content
