!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Demodeq
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    - if notice
      %p.alert.alert-success= notice
    - if alert
      %p.alert.alert-danger= alert
    %nav.navbar.navbar-inverse
      .container
        .navbar-header
          = link_to t(:devise_demo), root_path, class: 'navbar-brand'
        #navbar
          %ul.nav.navbar-nav
            %li= link_to t(:home), root_path
          %ul.nav.navbar-nav.pull-right
            - if user_signed_in?
              %li.dropdown
                %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                  = current_user.email
                  %span.caret
                %ul.dropdown-menu{:role => "menu"}
                  %li= link_to t(:profile), edit_user_registration_path
                  %li= link_to t(:parts), parts_index_path
                  %li= link_to t(:logout), destroy_user_session_path, method: :delete
            - else
              %li= link_to t(:login), new_user_session_path
              %li= link_to t(:signup), new_user_registration_path
    = yield
